[submodule "Packages/CMake"]
	path = Packages/CMake
	url = git@github.com:zyxar/Sublime-CMakeLists.git
[submodule "Packages/Terminus"]
	path = Packages/Terminus
	url = git@github.com:randy3k/Terminus.git
[submodule "Packages/unity-completions"]
	path = Packages/unity-completions
	url = git@github.com:oferei/sublime-unity-completions.git
[submodule "Packages/unity-completions-light"]
	path = Packages/unity-completions-light
	url = git@github.com:oferei/sublime-unity-completions-light.git
