[submodule "Packages/CMake"]
	path = Packages/CMake
	url = git@github.com:zyxar/Sublime-CMakeLists.git
[submodule "Packages/Terminus"]
	path = Packages/Terminus
	url = git@github.com:randy3k/Terminus.git
